<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1aLNLrRqqoIEntznrXXfvanvr7vN3Mxk</string>
	<key>GCM_SENDER_ID</key>
	<string>1026332641008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProj.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-project-6fb5e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-6fb5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026332641008:ios:3b30c155663c4fcc5c6435</string>
</dict>
</plist>